<div class="container content-container screen-height-element" id="contact-us">
  <h1 class="content-headline"><%= t :contact_headline %></h1>

  <div id="contact-us-container">
    <div class="contact-us-container-label">
      <div class="contact-us-label">
        <%= t :contact_us_label_contact %>
      </div>
      <div class="contact-us-contact-address-label">
        <p><%= t :contact_us_label_email %></p>

        <p><%= t :contact_us_label_phone %></p>
      </div>
    </div>
    <div class="contact-us-container-label">
      <div class="contact-us-label">
        <%= t :contact_us_label_adress %>
      </div>
      <div class="contact-us-contact-address-label">
        <p><%= t :contact_us_label_adress_name %></p>

        <p><%= t :contact_us_label_adress_street %></p>

        <p><%= t :contact_us_label_adress_country %></p>
      </div>
    </div>
  </div>

  <div id="contact-us-from-container">
    <form>
      <div class="contact-us-form-input">
        <input name="name" type="text" placeholder="Full Name">
        <input type="email" name="email" value="Email Address" size="255" onfocus="if(this.value=='Email Address'){this.value='';}">
        <input name="telephone" type="text" placeholder="Telephone (Not required)">
      </div>

      <div class="contact-us-from-input">
        <textarea name="text" placeholder="Your Message"/></textarea>
        <input id="submit" name="submit" type="submit" value="Send message">
      </div>
    </form>
  </div>

</div>