<div class="container content-container min-screen-height-element" id="how-we-help-you">

  <div id="how-we-help-you-images-container">
    <div class="how-we-help-you-image">
      <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>

      <div class="how-we-help-you-image-number">
        1
      </div>
      <div class="how-we-help-you-image-label">
        <%= t :how_we_help_image_label1 %>
      </div>
      <div class="how-we-help-you-image-desc">
        <%= t :how_we_help_image_description1 %>
      </div>
    </div>
    <div class="how-we-help-you-image">
      <img src="<%= image_path 'how_image2.jpg' %>" alt=""/>

      <div class="how-we-help-you-image-number">
        2
      </div>
      <div class="how-we-help-you-image-label">
        <%= t :how_we_help_image_label2 %>
      </div>
      <div class="how-we-help-you-image-desc">
        <%= t :how_we_help_image_description2 %>
      </div>
    </div>
    <div class="how-we-help-you-image">
      <img src="<%= image_path 'how_image3.jpg' %>" alt=""/>

      <div class="how-we-help-you-image-number">
        3
      </div>
      <div class="how-we-help-you-image-label">
        <%= t :how_we_help_image_label3 %>
      </div>
      <div class="how-we-help-you-image-desc">
        <%= t :how_we_help_image_description3 %>
      </div>
    </div>
    <div class="floating_cleaner"></div>
  </div>
  <a href="#our-service" class="scroll-button">
    <%= t :how_we_help_scroll_button %>
  </a>
</div>