<div class="container content-container min-screen-height-element" id="our-service">
  <h1 class="content-headline"><%=t :service_headline %></h1>

  <div class="service-container">

    <div class="service-container-row">

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name1 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc1 %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name2 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc2 %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name3 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc3 %>
        </div>
      </div>

      <div class="floating_cleaner"></div>
    </div>


    <div class="service-container-row">

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name4 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc4 %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name5 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc5 %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name6 %>
        </div>
        <div class="service-item-desc">
          <%= t :service_desc6 %>
        </div>
      </div>

      <div class="floating_cleaner"></div>
    </div>

  </div>

  <a href="#contact-us" class="scroll-button"><%=t :service_scroll_button %></a>
</div>



