<div class="container content-container min-screen-height-element" id="our-service">
  <h1 class="content-headline"><%=t :service_headline %></h1>

  <div class="service-container">

    <div class="service-container-row">

      <div class="service-item">
        <img src="<%= image_path '1-police.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name1 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc1_html %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path '2-Accommodation.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name2 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc2_html %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path '3-Doctor.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name3 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc3_html %>
        </div>
      </div>

      <div class="floating_cleaner"></div>
    </div>


    <div class="service-container-row">

      <div class="service-item">
        <img src="<%= image_path '4_Utilities.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name4 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc4_html %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path '5-Relocation.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name5 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc5_html %>
        </div>
      </div>


      <div class="service-item">
        <img src="<%= image_path '6-Translational.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name6 %>
        </div>
        <div class="service-item-desc">
          <%= t :service_desc6_html %>
        </div>
      </div>

      <div class="floating_cleaner"></div>
    </div>


    <div class="service-container-row">

      <div class="service-item">
        <img src="<%= image_path '7-food.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name7 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc7_html %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path '8-car.jpg' %>" alt=""/>
        <div class="service-item-label" id="serv8">
          <%=t :service_name8 %>
        </div>
        <div class="service-item-desc">
          <%=t :service_desc8_html %>
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>
        <div class="service-item-label">
          <%=t :service_name9 %>
        </div>
        <div class="service-item-desc">
          <%= t :service_desc9_html %>
        </div>
      </div>

      <div class="floating_cleaner"></div>
    </div>



  </div>

  <a href="#contact-us" class="scroll-button"><%=t :service_scroll_button %></a>
</div>



