<div class="container content-container screen-height-element" id="our-service">
  <h1 class="content-headline">Our service</h1>

  <div id="our-service-container">
    <!-- FIRST ROW -->


    <div class="our-service-container-row">
      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt="" />
        <div class="service-item-label">
          Service name
        </div>
        <div class="how-we-help-you-image-desc">
          Service description
        </div>
      </div>
      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt="" />
        <div class="service-item-label">
          Service name
        </div>
        <div class="how-we-help-you-image-desc">
          Service description
        </div>
      </div>
      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt="" />
        <div class="service-item-label">
          Service name
        </div>
        <div class="how-we-help-you-image-desc">
          Service description
        </div>
      </div>
      <div class="floating_cleaner"></div>
    </div>

    <div class="our-service-container-row">
      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt="" />
        <div class="service-item-label">
          Service name
        </div>
        <div class="how-we-help-you-image-desc">
          Service description
        </div>
      </div>
      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt="" />
        <div class="service-item-label">
          Service name
        </div>
        <div class="how-we-help-you-image-desc">
          Service description
        </div>
      </div>
      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt="" />
        <div class="service-item-label">
          Service name
        </div>
        <div class="how-we-help-you-image-desc">
          Service description
        </div>
      </div>
      <div class="floating_cleaner"></div>
    </div>



    <!--<div class="floating_cleaner"></div> -->
  </div>

  <div class="scroll-button-container-black">
    <a href="#contact-us" class="scroll-button">
      Contact us
    </a>
  </div>
</div>



