<div class="container content-container screen-height-element" id="our-service">
  <h1 class="content-headline">Our service</h1>

  <div class="service-container">

    <div class="service-container-row">

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>

        <div class="service-item-label">
          Service name1
        </div>
        <div class="service-item-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>

        <div class="service-item-label">
          Service name2
        </div>
        <div class="service-item-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>

        <div class="service-item-label">
          Service name3
        </div>
        <div class="service-item-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <div class="floating_cleaner"></div>
    </div>


    <div class="service-container-row">

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>

        <div class="service-item-label">
          Service name1
        </div>
        <div class="service-item-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>

        <div class="service-item-label">
          Service name2
        </div>
        <div class="service-item-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <div class="service-item">
        <img src="<%= image_path 'how_image1.jpg' %>" alt=""/>

        <div class="service-item-label">
          Service name3
        </div>
        <div class="service-item-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <div class="floating_cleaner"></div>
    </div>


  </div>


  <a href="#contact-us" class="scroll-button">
    Contact us
  </a>
</div>



