<div class="container content-container screen-height-element" id="welcome-screen-container">
  <div id="welcome-screen-container-background"></div>
  <div id="slogan-container">
    <img src="<%= image_path 'bg_glow.jpg' %>" id="slogan-container-background" alt=""/>

    <h1 id="slogan">
      <%= t :welcome_slogan1 %>
      <br/>
      <%= t :welcome_slogan2 %>
    </h1>

      <span id="booking">
        <%= t :welcome_booking %>
      </span>
  </div>
  <a href="#how-we-help-you" class="scroll-button">
    <%= t :welcome_scroll_button %>
  </a>
</div>